<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Savior App</title>
        <style>
            body{
                font-family: arial;
                margin: 0;
                height:100%;
            }
            nav{
                background: #5269eb;
                padding: 20px 10px;
            }
            nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            nav a{
                color: #fff;
                font-size: 18px;
                background: rgba(255,255,255,0.2);
                text-decoration: none;
                padding: 10px;
                display: block;
            }
            main, header{
                max-width: 960px;
                margin: 30px auto;
                padding: 0 10px;
                color: #333;
            }
             #map {
                height: 400px;
                width:50%;
                margin-left:20px;
            }

            img{
                    position: absolute;
                    left: 1%;
                    top: 1%;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <% if (user) { %>
                <img src="<%= user.thumbnail %>" /></li>
                <li><a href="/auth/logout">Log out</a></li>
                <% } else { %>
                <li><a href="/auth/login">Login</a></li>
                <% } %>
                <li><a href="/">Homepage</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/chat">Chat</a></li>
                <li><a href="/discover">Discover</a></li>
            </ul>
        </nav>
        <header>
            <h1>Savior App</h1>
            <h2></h2>
        </header>
        <main>
            <p>Be a hero.</p>
        </main>
        <div id="map"></div>
    <script>
      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.
      var map, marker, infowindow; 
       

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 22.309, lng: 114.174},
          zoom: 17
        });
        marker = new google.maps.Marker;
        infowindow = new google.maps.InfoWindow

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            let pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            console.log(pos);
            infowindow.setPosition(pos);
            infowindow.setContent('<b>My location</b> <button id="dropPin()" onclick=""><p>Drop pin!</p></button>');
            infowindow.setMap(map);
            map.setCenter(pos);
            infowindow.addListener('click', function dropPin() {
            makrer.setMap(map);

  })

        //    function dropPin() {
        //     var marker = new google.maps.Marker({
        //     position: pos,
        //     map: map,
        //     title: 'Pinned'
        //     });
        //     marker.setMap(map)}
            
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
       
      }
       
      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDcQRk9qP0Ol5YLsKA99HmS0jR3XJ4631s&callback=initMap">
    </script>
    </body>
</html>